:root {
    --midnight-blue: #1A1D29;
    --slate-blue: #7D8491;
    --charcoal-gray: #3D3F4A;
    --silver: #B1B2B5;
    --main-background-color : var(--midnight-blue);
}


.is-invalid {
    color: darkred;
    transition: color 500ms linear;
    text-decoration: line-through;
}

.is-done {
    color: seagreen;
    transition: color 500ms linear;
}

.check-icon {
    height: 25px;
}

.cross-icon {
    height: 25px;
}
