:root {
    --midnight-blue: #1A1D29;
    --slate-blue: #7D8491;
    --charcoal-gray: #3D3F4A;
    --silver: #B1B2B5;
    --main-background-color : var(--midnight-blue);

    --orange-doom-color: #f73201;

    --orange-doom-shade-1: #FFB76B;
    --orange-doom-shade-2: #FFC176;
    --orange-doom-shade-3: #FFA73D;
    --orange-doom-shade-4: #FF7C00;
    --orange-doom-shade-5: #F75211;
    --orange-doom-shade-6: #F73201;
}


.is-invalid {
    color: #7a3734;
    transition: all 300ms linear;
    text-decoration: line-through;
}

.is-done {
    color: #98D69D;
    transition: color 300ms linear;
}

.check-icon {
    height: 30px;
}

.cross-icon {
    height: 30px;
}

.asset-source {
    position: absolute;
    bottom: 10px;
    right: 10px;

    color: white;
    font-size: 12px;

    border-bottom-width: 1px;
    border-color: currentColor;
    border-style: dashed;
}

.asset-source:hover {
    cursor: pointer;
}


.doom-gradient {
    background: #FFB76B;
    background: linear-gradient(to right,
    #FFB76B 5%,
    #FFC176 15%,
    #FFA73D 35%,
    #FF7C00 60%,
    #F75211 80%,
    #F73201 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

kbd {
    border-color: #FFB76B !important;
}

.slidev-code {
    background: #eff1f5;
}
